
<%- include("partials/header") %> 

    <h1>Compose</h1>

    <form action="/compose" method="post">
        <div class="form-group">
            <div class="mb-3">
                <label for="postTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="postTitle" name="newPostTitle">
            </div>
            <div class="mb-3">
                <label for="postTitle" class="form-label">Post</label>
                <textarea type="text" class="form-control" rows="6" id="postTitle" name="newPostBody"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" name="button">Publish</button>  
    </form>

<%- include("partials/footer") %> 